<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<app-button 
[controlButton]="controlA"
(btnClickEmt)="onClickEventReceivedA($event)"
[textButton]="labelA"
id="tooltip"></app-button>
  
<br><br><br>
<br><br><br>
<br><br><br>

<app-button 
[controlButton]="controlB"
(btnClickEmt)="onClickEventReceivedB($event)"
[textButton]="labelB"></app-button>

<!-- <button type="button" class="btn btn-primary" (click)="buttonA()">Button A</button>


<div *ngIf = "isShowA" class="content">
  <diV class="heading">Tooltip A</diV>
  <diV class="body">
      Popover body text
      <ul>
          <li> Point 1</li>
          <li> Point 2</li>
          <li> Point 3</li>
      </ul>
  </diV>
 </div>


<button type="button" class="btn btn-success" (click)="buttonB()">Button B</button>
<div *ngIf = "isShowB">Tooltip B</div> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>