<button type="button" class="btn btn-primary" (click)="onBtnClick()">Button {{textButton}}</button>

<div *ngIf = "controlButton" class="content" id="clickbox">
    <div class="heading">Tooltip {{textButton}}</div>
    <div class="body">
        Popover body text
        <ul>
            <li> Point 1</li>
            <li> Point 2</li>
            <li> Point 3</li>
        </ul>
    </div>
</div>


<script>
    window.addEventListener('click', function(e){   
  if (document.getElementById('clickbox').contains(e.target)){
    // Clicked in box
    console.log("Clicked inside");
  } else{
    // Clicked outside the box
    console.log("Clicked outside");
  }
});
</script>