<div *ngIf = "controlButton.control" class="content myTooltip">
    <div class="myTooltip">Tooltip {{controlButton.label}}</div>
    <div class="myTooltip">
        Popover body text
        <ul class="myTooltip">
            <li class="myTooltip"> Point 1</li>
            <li class="myTooltip"> Point 2</li>
            <li class="myTooltip"> Point 3</li>
        </ul>
    </div>
</div>

<button type="button" [ngClass]="controlButton.class" (click)="onBtnClick()">Button {{controlButton.label}}</button>


