.content.myTooltip {
    background-color: #bfbfbf;
    position: absolute;
    padding: 15px;
    top: 2%;
}

.content.myTooltip::before {
    position: absolute;
    top: 100%;
    content: "";
    right: calc(80% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bfbfbf;
  }